<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body class='text-center'>
<header>
    <img src="/images/dealer_portal_header_img.jpg" alt="">
</header>


    <h4 class='text-left'>Monthly Sales Difference :</h4>
    <form action="/search" class="inputSection py-2" method="GET">
        <input type="text" name="monthStart" placeholder="YYYYMM">
        <input type="text" name="monthEnd" placeholder="YYYYMM">
        <button type="submit" id="searchButton">Search</button>
    </form>
    <table style="margin: 50px auto">
        <tr>
            <th>Sales_Doc</th>
            <th>Material</th>
            <th>S520_ORDER_QTY</th>
            <th>S520_CONFIRM_QTY</th>
            <th>OR_Order_Qty</th>
            <th>OR_Confirm_Qty</th>
            <th>Order_Diff</th>
            <th>Confirm_Diff</th>

        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>


</body>

</html>