<% include ./partials/header %>
<header>
    <img src="/images/dealer_portal_header_img.jpg" alt="">
</header>

<div class="container py-2">
    <div class="row">
        <div class="col-lg-6">
            <h4 class='text-center'>Monthly Sales Difference :</h4>
        </div>
        <div class="col-lg-6">

            <form action="/search" class="inputSection py-2" method="GET">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-5">
                            <input type="text" class="form-control form-control-sm" id="monthStart" name="monthStart"
                                placeholder="YYYYMM">
                            <small for="monthStart">Start YYYYMM</small>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control form-control-sm" id="monthEnd" name="monthEnd"
                                placeholder="YYYYMM">
                            <small for="monthEnd">End YYYYMM</small>
                        </div>
                        <div class="col-lg-2">
                            <button class='btn btn-sm btn-primary' type="submit" id="searchButton">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<% include ./results %>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src='/javascript/currentDate.js'></script>

<% include ./partials/footer %>