<% include ./partials/header %>

<div class="card">
    <div class="card-header">
        <form action="GET">
            <input type="text">
            <input type="text">
            <button>Search</button>
        </form>
    </div>
    <div class="card-body">
        <table>
            <thead>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
            </thead>
            <tbody>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
            </tbody>
        </table>
    </div>
</div>

<% include ./partials/footer %>